body{
background-color: pink;
}
.home {
  position: absolute;
  max-width:100%;
  height:80%;
}
.button{
 gap: 10px;
 display: flex;
 margin: 2px;
}
.bb{
  align-items: center;

  max-width:70%;
  height:500px;
}